In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
nbdir = "/content/gdrive/My Drive/DSCI511/Colab/data/"

Mounted at /content/gdrive

In [6]:
import glob
import pandas as pd

filepath = '/content/gdrive/My Drive/DSCI511/Colab/data/project/'
files = glob.glob(filepath + "/*.csv")

d_list = []

for f in files:
    df = pd.read_csv(f, index_col=None, header=0)
    d_list.append(df)


merged_df = pd.concat(d_list).drop_duplicates().reset_index(drop=True)
merged_df.head()

                           sightingID  ... lowlowWaterLevel
0   L109136-2021-02-28 10:42S82501262  ...            0.582
1  L3797793-2021-02-26 10:34S82368120  ...            0.576
2  L1636680-2021-02-24 08:14S82257699  ...            0.881
3   L211826-2021-02-27 17:20S82475086  ...            0.617
4   L302921-2021-02-25 13:29S82327487  ...            0.804

[5 rows x 20 columns]

In [9]:
from datetime import date
today = date.today().strftime('%Y-%m-%d')
today = str(today.replace('-', ''))

filepath = '/content/gdrive/My Drive/DSCI511/Colab/data/project/all_data/' + str(today) + 'all_data.csv'
merged_df.to_csv(filepath, index = False)